@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --blue:#4d4d4f;
    --lightcolor:#666;
    --black:#08080a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    text-decoration: none;
    text-transform: capitalize;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header{
    padding: 2rem 7%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
}
.nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    color:rgb(30, 29, 29);
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#454444;
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}

#logo{
    font-size: 2.5rem;
    color: var(--black);
}
#logo span{
    color: var(--blue);
}
.icons #menu-bars{
    color: var(--blue);
    font-size: 2rem;
}
.navbar.active{
    left: 0;
}
.navbar{
    position: absolute;
    top: 100%;
    background: var(--blue);
    width: 30rem;
    height: 100vh;
    left: -200%;
    transition: .5s;
}
.navbar a{
    display: block;
    margin: 1rem;
    padding: 1rem;
    color: rgb(23, 21, 21);
    font-size: 1.5rem;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f0ecec;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #939498;
    color: rgb(11, 11, 11);
  }
.back-image{
    background: url(images/backg5.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner-text-back{
    text-align: center;
}
.inner-text-back h2{
    color: rgb(16, 15, 15);
    font-size: 30px;
}
.inner-text-back h1{
    color: var(--blue);
    font-size: 30px;
}
.inner-text-back h3{
    color: rgb(15, 14, 14);
    font-size: 20px;
}
.what-we-do{
    padding: 5rem 7%;
    background: rgb(137, 137, 140);
}

.main-we-do{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inner-we-do{
    flex: 1 1 45rem;
}
.inner-we-do img{
    width: 40%;
    
}
.we-do-image{
    text-align: center;
}
.inner-we-do h1{
    color:var(--black);
    font-size: 30px;
}
.inner-we-do p{
    color: white;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 25px;
}
.inner-we-do a{
    padding: 2rem 4rem;
    background: var(--black);
    color: var(--lightcolor);
    font-size: 1.5rem;
    border-radius: 15px;
}

.our-servies{
    padding: 3rem 7%;
    margin-top: 70px;
    margin-bottom: 50px;
}
.our-servies h1{
    color: var(--black);
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.our-servies h1 span{
    color: var(--blue);
}
.inner-services h2{
    color: var(#696970);
    text-align: left;
    font-size: 15px;
    margin-bottom: 25px;
}
.inner-services h2 span{
    color: var(--black);
}
.main-services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}
.inner-services{
    flex: 1 1 300px;
    padding: 2rem 3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 
}
.inner-services:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
 
}


.inner-services p{
    padding: 0 2rem;
    font-size: 1.5rem;
}




.our-class{
    padding: 3rem 7%;
    margin-bottom: 70px;
}
.our-class h1{
    color: var(--black);
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.our-class h1 span{
    color: var(--blue);
}
.inner-class h2{
    color: var(--black);
    text-align: left;
    font-size: 15px;
    margin-bottom: 25px;
}
.inner-class h2 span{
    color: var(--blue);
}
.main-class{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}
.inner-class{
    flex: 1 1 300px;
    padding: 2rem 3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 
}
.inner-class:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
 
}


.inner-class p{
    padding: 0 2rem;
    font-size: 1.5rem;
}
.our-class{
    padding: 4rem 7%;
}
.our-class h1{
    color: var(--black);
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}
.our-prices h1 span{
    color: var(--blue);
}
.main-prices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-prices{
    flex-basis: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem 2rem;
}
.price-heading{
    padding: 3rem;
    background: var(--black);
    text-align: center;
}
.price-heading h2{
    color: white;
    font-size: 2rem;
}
.price-heading p{
    color: white;
    font-size: 1.5rem;
}
.price-text p{
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--black);
}
.inner-prices .inner-price-heading h2{
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 25px;
}
.inner-prices .inner-price-heading h2 span{
    font-size: 4rem;
}
.inner-prices a{
    padding: 2rem 4rem;
    font-size: 1.5rem;
    color: white;
    background: var(--black);
    border-radius: 15px;
}









.our-clients{
    padding: 3rem 7%;
    margin-bottom: 25px;
}
.our-clients h1{
    color: #4d4d4f;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}
.our-clients h1 span{
    color: var(--blue);
}

.main-client{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-client{
    flex-basis: 40%;
    text-align: center;
}
.inner-client img{
width: 35%;
margin-top: 20px;
}



.get-in-touch{
    padding: 4rem 7%;
    background: var(--black);
    margin-top: 50px;
}
.get-in-touch h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.main-touch p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
.touch-icons{
    text-align: center;
    margin-top: 20px;
}
.touch-icons a{
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #818284dd;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(30, 29, 29);
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgba(110, 105, 105, 0.548);
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  .container{
    padding: 3rem 7%;
}
.container h1{
    color: var(--black);
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.container h1 span{
    color: var(--blue);}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #0b0a0a;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgb(50, 49, 49);
    padding: 2px 16px;
    color: rgb(24, 23, 23);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


  
      
  
 .equioments{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
 }
 h1{
    font-size:36px;
    font-weight: 600;
    color: #4d4d4f;
 }
 p{
    color: #312e2e;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
 }
  
 .row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
 }
 .equipments-col{
    flex-basis:31%;
    background:#8284878c;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box;
    transition: 0.5s;
 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 20px;
 }
 .equipments-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.272);
 }
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}



.buildings{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 10%;
}



.buildigs-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
    overflow: hidden;
}



@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    .inner-prices{
        flex-basis: 100%;
    }
    .inner-we-do img{
        width: 50%;
        margin-top: 50px;
        
    }
    .we-do-image{
        text-align: center;
    }
}



.projects{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
    margin-top: 10%;
}

.projects-col{
    text-align: left;
    padding-left: 0%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    position:relative;
    overflow: hidden;
   
   
}
.projects-col h3{
    color: var(--black);
    text-align: center;
    font-size: 15px;
    margin-bottom: 25px;
}


.footer{
    width:100%;
    text-align:center;
    padding:30px 0;
    margin-bottom: 0%;
    font-size: smaller;
    margin-top: 100px;
}





.sub-header{
    height:50vh;
    width:100%;
    text-align: center;
    color:#fff;
    margin-bottom: 0%;
}
.sub-header h1{
margin-top: 10%;
}



.about-us{
    width:80%;
    margin:auto;
    padding-top: 0px;
    padding-bottom: 100px;
}
.about-col{
    flex-basis:48%;
    padding:30px 2px;

}
.about-col img{
    width:100%;
}
